@import 'colors';

body {
  background-color: silver;
  text-align: center;
  color: white;
}

.box {
  border: 1px solid white;
}

.navBar {
  margin-bottom: 100px;
  width: 100%;
  background-color: $black;
}

.gameboard {
  margin-left: 26.3%;
}

.gameButtons {
  margin-bottom: 80px;
  margin-left: 26.3%;
}
.footer {
  background-color: black;
}

.gameBox {
  background-color: grey;
}

.player1 {
  background-color: $darkNeon;
}

.player2 {
  background-color: $red;
}

.gameOption {
  background-color: black;
}

.x {
  color: $neon;
}
.o {
  color: $lightOrange;
}
