@import 'colors';
@import 'typography';

body {
  background-color: silver;
  text-align: center;
  color: white;
}

.box {
  border: 1px solid white;
}

.navBar {
  margin-bottom: 100px;
  width: 100%;
  background-color: $black;
}
.footer {
  background-color: black;
  font-size: $body-font-size * .75;
  margin-top: 50px;
}

.player1 {
  background-color: $darkNeon;
}

.player2 {
  background-color: $red;
}

.x {
  color: $neon;
}
.o {
  color: $lightOrange;
}

.gameBoard {
  width: 470px;
  background-color: black;
  margin: 20px auto;
  padding: 20px;
}

#board li {
	float: left;
	margin: 20px;
	height: 100px;
	width: 100px;
	font-size: 55px;
	background:#333;
	color: #ccc;
	list-style: none;
	text-align: center;
	border-radius: 10px;
}

#board li:hover {
	cursor: pointer;
	background: #222;
}

form {
  color: black;
}

#playBtn {
  padding: 10px 26px;
}
