$line-height: 1.8;
$body-font-size: 18px;
$vertical-margin: 40px;
$horizontal-padding: 10px;
* {
  margin: 0;
  padding: 0;
}

body {
  margin: $vertical-margin auto;
  line-height: $line-height;
  font-size: $body-font-size;
  padding: 0 $horizontal-padding;
}
